<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: 'Home'}) %>
    <script src="javascripts/home.js"></script>
    <script src='https://meet.jit.si/external_api.js'></script>
</head>
<body class="container">

<header>
    <%- include('partials/header') %>
</header>

<main>
    <br>
    <div id="meet" class="d-flex justify-content-center"></div>
    <br>
</main>

<footer>
    <%- include('partials/footer') %>
</footer>

</body>
</html>