<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: 'Home'}) %>
    <script src="javascripts/home.js"></script>
    <script src='https://meet.jit.si/external_api.js'></script>
</head>
<body class="container">

<header>
    <%- include('partials/header') %>
</header>

<main>
    <br>
    <div class='row'>
        <div class='col-sm btn-group-vertical'>
            <button id='trafficBtn' class='btn btn-secondary'>Traffic 🚗🚙🚗</button>
            <button id='accidentBtn' class='btn btn-secondary'>Accident 💥</button>
            <button id='policeBtn' class='btn btn-secondary'>Police 🚓</button>
        </div>
        <div class='col-sm d-flex justify-content-center'>
            <div id="meet"></div>
        </div>
    </div>
    <br>
</main>

<footer>
    <%- include('partials/footer') %>
</footer>

</body>
</html>